@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    --primary-color: #ffecc8;
    --dark-grey: #333;
    --light-grey: #505050;
    user-select: none;
}


body {
    background-color: #fefefe;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 768px;
}

main {
    background: linear-gradient(var(--primary-color), #fff);
    min-width: 100%;
    min-height: 90vh;
}

.foto-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    max-height: 42vh;
    max-width: 768px;
    background-image: url("./src/save-the-date-capa.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.foto-container h1 {
    width: inherit;
    text-align: center;
    position: absolute;
    color: var(--dark-grey);
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(26px, 6vw, 34px);
    font-weight: normal;
    word-spacing: .5em;
    z-index: 1;
}

#foto-header {
    width: 100%;
    z-index: 0;
    filter: brightness(.78);
}

.foto-container span {
    font-family: "Great Vibes", cursive;
    font-size: 160%;
}

#contador-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    min-height: 350px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--light-grey);
    font-size: .8em;

    p {
        font-size: 1.4em;
        width: 70%;
        margin: 0 auto;
    }
}

#contador-container h2 {
    color: var(--dark-grey);
    text-wrap: nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 2.8em;
}

#contador {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    max-width: 420px;
    margin: 0 auto;
}

.item-contador {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: calc(100% / 4);
    min-width: 50px;
    text-align: center;
    line-height: 2em;
    font-size: .85em;

    .text {
        font-size: clamp(8px, 3vw, 18px);
        line-height: 40px;
    }

}

.circle {
    font-family: cursive;
    background-color: var(--light-grey);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 1.6em;
}

#informacoes {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    margin: 0 auto;

    .item {
        height: fit-content;
        width: 120px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        font-size: clamp(12px, 3vw, 18px);
        line-height: 40px;
    }

    .logo {
        width: clamp(24px, 15vw, 60px);
    }

    .container-superior {
        width: 50%;
        min-width: 300px;
        display: flex;
        justify-content: space-around;
    }

    .linha-vertical {
        width: 1px;
        height: 100px;
        background: #555;
    }

    .container-inferior {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        height: 250px;
    }
}


.data-item {
    font-size: clamp(30px, 10vw, 54px);
}


.btn-location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-grey);
    height: 35px;
    width: 140px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
}

.btn-location:active {
    outline: inset 5px solid;
}

footer {
    width: 100%;
    height: 10vh;
    background-image: none;
}

footer h2 {
    font-size: 2.5em;
    color: var(--dark-grey);
    width: inherit;
    text-align: center;
    width: inherit;
    font-family: "Great Vibes", cursive;
    line-height: 10vh;
    max-height: 250px;
}

header,
main,
footer {
    border: none;
}

@media screen and (min-width: 770px) {

    header,
    main,
    footer {
        border: 2px solid #808080d0;
        border-bottom: none;
        border-top: none;
    }
}
