@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: linear-gradient(#fff 20%, #c0f8ffd0); */
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

#logo-principal-container {
    outline: 1px solid #555;
    padding: 10px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 50px;
    background-color: #dff;
}

#logo-principal {
    width: inherit;
    height: inherit;
}

.foto-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 460px;
    max-height: 460px;
    box-sizing: border-box;
}

.foto-container p {
    width: inherit;
    text-align: center;
    position: absolute;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    z-index: 1;
}

#foto-header {
    width: 100%;
    z-index: 0;
    filter: brightness(.8);
}

.foto-container span {
    font-family: "Great Vibes", cursive;
    font-size: 150%;
}