@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    --primary-color: #ffecc8;
    --dark-grey: #333;
    --light-grey: #505050;
    user-select: none;
}


body {
    background-color: #fefefe;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 768px;
}

main {
    min-width: 100%;
    background: linear-gradient(var(--primary-color), #fff);
}

.foto-capa-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    max-height: 50vh;
    max-width: 768px;
    background-image: url("./src/capa.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    color: var(--dark-grey);
    font-size: clamp(32px, 10vw, 40px);
    word-spacing: .4em;
    font-weight: normal;
}

h1 span {
    font-family: "Great Vibes", cursive;
    font-size: 120%;
}

#contador-container {
    display: flex;
    justify-content: space-around;
    min-height: 150px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--light-grey);
    font-size: .8em;
}

#contador {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    max-width: 500px;
    margin: 0 auto;
}

.item-contador {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: calc(100% / 4);
    min-width: 50px;
    text-align: center;
    line-height: 2em;
    font-size: .85em;

    .text {
        font-size: clamp(8px, 3vw, 18px);
        line-height: 40px;
    }
}

.circle {
    font-family: cursive;
    background-color: var(--light-grey);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 1.6em;
}

#container-historia {
    margin: 0 auto;
    width: 72vw;
    max-width: 520px;
}

h2 {
    text-align: center;
    color: var(--dark-grey);
    text-wrap: nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 2.1em;
    line-height: 2em;
}

.texto-historia {
    text-align: justify;
    font-size: 1.05em;
}

#foto-casal-container {
    margin: 50px auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    width: 70vw;
    max-height: 40vh;
    max-width: 768px;
    background-image: url("./src/foto-historia-casal.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.btn-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
    height: 35px;
    width: 140px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    margin: 1.2em auto;
}

.btn-nav:active {
    outline: inset 5px solid;
}

@media screen and (min-width: 460px){
    .foto-capa-container {
        max-height: 560px;
        height: 560px;
    }
}